<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title'/>
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      <div class="content">
        <p class="newsletter-intro" style="margin-bottom: 24px; color: #606060; font-size: 14px; line-height: 1.6;">
          『다시, 한 줄』 뉴스레터의 지난 기록을 모아둔 아카이브입니다.<br />
          매주 한 문장으로 삶과 일을 다시 생각합니다. (매주 일요일 저녁 8시 발행)
        </p>
        <p style="margin-bottom: 32px;">
          <a href="https://page.stibee.com/subscriptions/462769" target="_blank" rel="noopener noreferrer" class="big-button">뉴스레터 구독하기</a>
        </p>
        <ul class="posts">
          {% assign letter_posts = site.posts | where_exp: "item", "item.path contains 'letter'" | sort: "date" | reverse %}
          {% for post in letter_posts %}
          <li>
            <small class="datetime muted" data-time="{{ post.date }}">{{ post.date | date_to_string }}</small>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
