---
layout: default-sub
---





<h3>  </h3>

<div id="post">
{{ content }}










<html xmlns:fb="http://ogp.me/ns/fb#">

<div class="fb-like" data-href="{{ post.url }}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>

<!--
<fb:like href="{{ post.url }}" send="true" layout="button_count" width="450" show_faces="true" font="arial"></fb:like>
<fb:like href="{{ post.url }}" send="true" width="500" show_faces="true"></fb:like> -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=267956736618918";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!---
<html xmlns:fb="http://ogp.me/ns/fb#">

<fb:comments href="{{ post.url }}" num_posts="2" width="570"></fb:comments> -->

<h4> </h4>
<!-- disqus comment Plug in-->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'beatshon'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    



<h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div> 




 
