<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title'/>
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}

  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      {% include pages.html %}
      <div class="content">
        <section class='post'>
          <h1 class="upcase">
            <div class='date'>{{ page.date | date_to_string }}</div>
            {{ page.title }}
          </h1>
          {{ content }}
          {% include signoff.html %}


        </section>
      </div>
  
      {% if page.share == 'y' %}
        {% include share.html %}
      {% endif %}

      {% if page.disqus == 'y' %}
        {% include disqus.html %}
      {% endif %}

      <!-- Cusdis 댓글 (호별 댓글 스레드) -->
      <div id="cusdis_thread"
        data-host="https://cusdis.com"
        data-app-id="07d3b94b-3323-42ac-83c3-c0bcd5b98c66"
        data-page-id="{{ page.url | default: page.id }}"
        data-page-url="{{ page.url | absolute_url }}"
        data-page-title="{{ page.title | escape }}"
      ></div>
      <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

      {% include links.html %}
    </div>
    {% include footer.html %}


  </body>
</html>
